<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MomentumFrontEnd - E2E:">
    <listeners>
            <listener class-name="utilities.Reporting"/>
    </listeners>
    <test name="test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="MomentumRegistrationPageTCs"/>
            <class name="MomentumLoginPageTCs"></class>
        </classes>
    </test>
</suite>